
@{
    ViewBag.Title = "汇总视图";
}

<div class="content">
    <div class="container">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>查看报表</legend>
                <div class="form-group">
                    <a class="col-sm-1 btn btn-default" id="today" role="button">今天</a>
                    <a class="col-sm-1 btn btn-default" id="yesterday" role="button">昨天</a>
                    <a class="col-sm-1 btn btn-default" id="month" role="button">本月</a>
                    <a class="col-sm-1 btn btn-default" id="pmonth" role="button">上月</a>

                    <div class="input-group date col-md-3" data-date-format="yyyymmdd" data-date-end-date="0d">
                        <input type="text" name='STime' id='STime' class="form-control" readonly>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                    <div class="input-group date col-md-3" data-date-format="yyyymmdd" data-date-end-date="0d">
                        <input type="text" name='ETime' id='ETime' class="form-control" readonly>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                    <div class="col-sm-2 "></div>
                </div>


                <div class="form-group"  >

                    <label class="col-sm-1 control-label" for="ds_host">广告主：</label>
                    <div class="col-sm-3">
                        <input name='M_id' id='M_id' class="form-control" id="ds_host" type="text" placeholder="" />
                    </div>

                    <div class="col-sm-2">
                        <select name='Website' id="Website" class="form-control">
                            <option value=''>全部网址</option>
                            <option value='A100217567'>某网站</option>
                            <option value='A100217567'>某网站</option>
                        </select>
                    </div>

                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">查询</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div id="toolbar">
            <select class="form-control" name="Sort" id='Sort'>
                <option value='Yyyymmdd'>按天分组查看</option>
                <option value='M_id'>按广告主查看</option>
                <option value='Affiliate_id'>按网站分组查看</option>
            </select>
        </div>


        <div class="bootstrap-table">
            <table id="table"
                   data-toolbar='#toolbar'
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-show-toggle="true"
                   data-show-multi-sort="true"
                   data-sort-priority='[{"sortName": "Sort","sortOrder":"desc"},{"sortName":"ValidSalesTotal","sortOrder":"desc"},{"sortName": "ValidCommTotal","sortOrder":"desc"}]'
                   data-side-pagination="server"
                   data-pagination="true"
                   data-page-list="[10, 25, 50, 100]"
                   data-url="/api/data/SalesReport">
                <thead>
                    <tr>
                        <th data-field="Sort" rowspan="2" data-halign="center" data-align="center">分组</th>
                        <th colspan="6" data-halign="center" data-align="left">CPS销售（<a href="/report">cps明细报表</a>）</th>
                    </tr>
                    <tr>
                        <th data-field="OrderCount" data-sortable="true" data-halign="center" data-align="left" data-filter-control="input">全部订单数</th>
                        <th data-field="ValidOrderCount" data-sortable="true" data-halign="center" data-align="left" data-filter-control="input">有效订单数</th>
                        <th data-field="SalesTotal" data-sortable="true" data-halign="center" data-align="left" data-filter-control="input">全部订单额</th>
                        <th data-field="ValidSalesTotal" data-halign="center" data-align="left" data-filter-control="input">有效订单额</th>
                        <th data-field="CommTotal" data-sortable="true" data-halign="center" data-align="left" data-filter-control="input">全部佣金</th>
                        <th data-field="ValidCommTotal" data-sortable="true" data-halign="center" data-align="left" data-filter-control="input">有效佣金</th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">

    $(function() {
        $("form").on("submit", { query: UIHandler }, handler);
        $('#toolbar').on('change', { query: UIHHH }, handler);
    });

    // 通用 refresh
    function handler(event) {
        $('#table').bootstrapTable('refresh', {
            silent: true,
            url: '/api/data/SalesReport',
            query: event.data.query()               // query  是js对象
        });
        return false;
    };

    function UIHandler() {
        var data = {};
        $("form").serializeArray().map(function (x) { data[x.name] = x.value; });
        return data;
    }


    function UIHHH() {
        var data = {};
        data.Sort = $("#toolbar  option:selected").val();
        return data;
    }

    $(document).ready(function () {
        $("#STime").val(getNoOneDay(new Date()));
        $("#ETime").val(new Date().format("yyyyMMdd"));

        $('.date').datepicker({
            format: 'yyyymmdd',
            language: 'zh-CN',
            clearBtn: true,
            autoclose: true,
        });

        $('#table').bootstrapTable({
            locale: 'zh-CN',
            cahce: false,
            method: 'get',                          // 远程获取数据的方式
            height: $(window).height() - 20,        // 表格的高度
            striped: true,                          // 条纹状
            dataType: "json",                       // 你希望服务端返回你的数据类型
            pagination: true,                       // 是否显示分页toolbar
            queryParamsType: 'limit',               // 设置为limit 则是restful 风格查询参数
            queryParams:queryParams,
            singleSelect: false,                    // 单行选择
            pageSize: 10,
            pageNumber: 1,
            searchAlign: 'right',
            responseHandler: responseHandler,
        });

        $("#today").on("click", function () {
            $('.date').datepicker('update', Date.parse('today').format("yyyyMMdd"));
        });

        $("#yesterday").on("click", function () {
            $("#STime").val(new Date().addDate(-1));
            $("#ETime").val(new Date().addDate(-1));
            //$('.date').datepicker('update', Date.parse('yesterday').format("yyyyMMdd"));
        });

        $("#month").on("click", function() {
            $("#STime").val(getNoOneDay(new Date()));
            $("#ETime").val(new Date().format("yyyyMMdd"));
        });

        $("#pmonth").on("click", function() {
            $("#STime").val(getNoOneDay(Date.today().last().month()));
            $("#ETime").val(getLastDay(Date.today().last().month()));
        });
    });
    function responseHandler(res) {
        if (res.IsOk) {
            return {
                "rows": res.Result,
                "total": res.Count
            };
        } else {
            return {
                "rows": [],
                "total": 0
            };
        }
    }

    //传递的参数，已经是limit，params 是特地的5个【limit, offset, search, sort, order】属性组成的查询对象，你可以对查询对象进行属性操作，也可以不使用params对象，自己决定查询参数
    function queryParams(params) {
        params.STime =  $('#STime').val();
        params.ETime = $('#ETime').val();

        params.M_id = $('#M_id').val();
        params.Website = $('#Website').val();
        return params;
    }

</script>

