
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    #map {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>


<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <h1>
                the page is just for pc page !
            </h1>
            <div id="map" class="container"  hight="500"></div>
        </div>

        <div class="col-md-3" role="complementary">
            <p> device list</p>
            <div id="deviceListContent"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jstree-map.js"></script>
