@{
    ViewBag.Title = "地图";
}

@section scripts{
    @Scripts.Render("http://api.map.baidu.com/api?v=2.0&ak=SSC5M3AFkxWqbgXLDpItGi8g")
    <script src="@Url.Content("~/scripts/overlay.js")" type="text/javascript"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    @Scripts.Render("http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer.js")
    <script src="/scripts/map.js" type="text/javascript"></script>
}

<div class="row">
    <div class="col-md-9" role="main">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active"><a href="/UserManage">地图热点</a></li>
        </ol>
        <div class="bs-docs-example" id='map'>
        </div>
    </div>

    <div class="col-md-3" role="complementary">
        <div class="list-group">
            <a href="#" class="list-group-item active">设备管理</a>

            <div id="using_json" class="container"></div>

        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">帮助提示</h3>
            </div>
            <div class="panel-body">
                亲，本页面编辑模式非响应式操作，你懂的！
            </div>
        </div>
    </div>
</div>


@section import{
    <script src="/scripts/common.js" type="text/javascript"></script>

    <script type="text/javascript">
        window.map = null;
        window.flag = 0;                       // edit 1 ，load 0
        window.markers = [];
        window.markerClusterer = null;

        initMap("map");
        initData();

        function initData() {
            /* TODO　从json 文件中加载json */
            var data = [
                        {
                            'text': 'Simple root node',
                            'type': 'group'                  // 自定义类型type
                        },
                        {
                            'text': 'Root node 2',
                            'type': 'group',                 // 自定义类型type
                            'children': [
                              { 'text': 'Child 1' },
                              'Child 2'
                            ]
                        }
            ];

            createTree('using_json', data, {
                'select_node.jstree': function (e, data) {
                    var node = data.node;
                    $('#using_json').jstree("toggle_node", node);
                    if (node.parent === '#') {
                        map.reset();
                        return false;
                    }
                    if ( node.li_attr.lng && node.li_attr.lat) {
                        var pt = new BMap.Point(node.li_attr.lng, node.li_attr.lat);
                        map.setCenter(pt);
                        map.setZoom(13);
                    }
                },
                'loaded.jstree': function (e, data) {
                    data.instance.open_all();
                },
                'open_node.jstree': function (e, data) {
                    var node = data.node;
                    data.instance.set_icon(node, 'glyphicon glyphicon-folder-open');
                },
                'close_node.jstree': function (e, data) {
                    var node = data.node;
                    data.instance.set_icon(node, 'glyphicon glyphicon-folder-close');
                }
            }, {
                'dnd_stop.vakata': function (e, data) {

                    var obj = $.jstree.reference('#'+data.data.obj.context.id).get_node( data.data.nodes[0]);
                    if (obj.type==='group')
                        return false;
                    if (obj.li_attr.lat && obj.li_attr.lng) {
                        return;
                    }
                    /* 以下将采用事件触发的方式 */
                    var pt = null;
                    var x = data.event.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
                    var y = data.event.clientY + document.body.scrollTop + document.documentElement.scrollTop;
                   

                    var x1 = x - $('#map').offset().left;
                    var y1 = y - $('#map').offset().top;

                    var x2 = x - ($('#map').offset().left + $('#map').width());
                    var y2 = y - ($('#map').offset().top + $('#map').height());
                    if ((x1 < 0 || y1 < 0) || (x2 > 0 || y2 > 0)) {
                        return false;
                    }
                    
                    var point = map.pixelToPoint(new BMap.Pixel(x1, y1));
                    obj.li_attr.lng = point.lng;
                    obj.li_attr.lat = point.lat;

                    if (BMap.Map.markLocation(point, obj) === true) {
                        // TODO something  change the jstree node data
                        return true;
                    }
                },
                'context_show.vakata': function (e,data) {
                    var jstree = $.jstree.reference('#' + data.reference.context.id);
                    var node = jstree.get_node(data.reference);
                    if (node.type == 'group' || !node.li_attr.lng || !node.li_attr.lat ){
                        $(data.element).hide();
                        return false;
                    }
                    
                }
            }
            );
        };

    </script>
}

