@using QuickBootstrap.Entities
@using QuickBootstrap.Extendsions
@using QuickBootstrap.Models

@{
    ViewBag.Title = "平台概况";
}

<div class="row">
    <div class="col-md-12 ">

        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">平台概况</li>
        </ol>

        <div class="jumbotron">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h1> 会员业绩管理平台</h1>
            <p class="glyphicon glyphicon-list">  提供简单简约的绩效管理，用户管理服务</p>
            @*<p class="bg-primary"> 数据库连接字符串是：</p>
            <p class="bg-success"> 实时接收数据的接口是： </p>
            <p class="bg-info">...</p>
            <p class="bg-warning">...</p>
            <p class="bg-danger">...</p>*@
            @*<p><a class="btn btn-primary btn-lg" role="button" href="#">Go</a></p>*@
        </div>

        <div class="container">
            <form class="form-horizontal">
                @*@Html.ToHtmlInputItem(new User { UserName = "hiAladdin@163.com", CreateTime = DateTime.Now, Nick = "admin", IsEnable = true })*@

                @Html.ToHtmlInputItem(new WebSiteConfig
                {
                    LinktechAccountId = "xiaoqi3535",
                    LinktechAccountPwd = "zhh451815147",
                    LinktechReceiveApiUrl = Request.Url.Scheme + "://" + Request.Url.Host+"/" + "api/data/sales",
                    Database = "QuickBootstrap"
                })
            </form>
        </div>

    </div>
</div>