@using QuickBootstrap.Entities
@using QuickBootstrap.Extendsions
@{
    ViewBag.Title = "平台概况";
}

<link rel="stylesheet" href="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<script src="Scripts/extensions/export/bootstrap-table-export.js"></script>
<script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="Scripts/extensions/editable/bootstrap-table-editable.js"></script>
<div class="content">
    <div class="container">
        <h1>
            业绩报表 <a href="http://issues.wenzhixin.net.cn/bootstrap-table/" class="btn btn-primary" role="button" target="_blank">Learn more »</a>
        </h1>

        <div class="bootstrap-table">
            <div class="fixed-table-toolbar">
                <div class="bars pull-left">
                    <div id="toolbar">
                        <button id="remove" class="btn btn-danger" disabled="">
                            <i class="glyphicon glyphicon-remove"></i> Delete
                        </button>
                    </div>
                </div>
                <div class="columns columns-right btn-group pull-right">
                    <button class="btn btn-default" type="button" name="paginationSwitch" title="Hide/Show pagination"><i class="glyphicon glyphicon-collapse-down icon-chevron-down"></i></button><button class="btn btn-default" type="button" name="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button><button class="btn btn-default" type="button" name="toggle" title="Toggle"><i class="glyphicon glyphicon-list-alt icon-list-alt"></i></button>
                    <div class="keep-open btn-group" title="Columns">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li><label><input type="checkbox" data-field="id" value="1" checked="checked"> Item ID</label></li><li><label><input type="checkbox" data-field="name" value="2" checked="checked"> Item Name</label></li><li><label><input type="checkbox" data-field="price" value="3" checked="checked"> Item Price</label></li><li><label><input type="checkbox" data-field="operate" value="4" checked="checked"> Item Operate</label></li></ul>
                    </div>
                    <div class="export btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><i class="glyphicon glyphicon-export icon-share"></i> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li data-type="json"><a href="javascript:void(0)">JSON</a></li><li data-type="xml"><a href="javascript:void(0)">XML</a></li><li data-type="csv"><a href="javascript:void(0)">CSV</a></li><li data-type="txt"><a href="javascript:void(0)">TXT</a></li><li data-type="sql"><a href="javascript:void(0)">SQL</a></li><li data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li></ul>
                    </div>
                </div>
                <div class="pull-right search">
                    <input class="form-control" type="text" placeholder="Search">
                </div>
            </div>
            <div class="fixed-table-container" style="height: 659px; padding-bottom: 81px;">
                <div class="fixed-table-header" style="margin-right: 0px;">
                    <table class="table table-hover" style="width: 938px;">
                        <thead>
                            <tr>
                                <th class="detail" rowspan="2">
                                    <div class="fht-cell" style="width: 30px;"></div>
                                </th>
                                <th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px;" rowspan="2" data-field="state" tabindex="0">
                                    <div class="th-inner ">
                                        <input name="btSelectAll" type="checkbox">
                                    </div>
                                    <div class="fht-cell" style="width: 35px;"></div>
                                </th>
                                <th style="text-align: center; vertical-align: middle;" rowspan="2" data-field="id" tabindex="0">
                                    <div class="th-inner sortable both">Item ID</div>
                                    <div class="fht-cell" style="width: 184px;"></div>
                                </th>
                                <th style="text-align: center;" colspan="3" tabindex="0">
                                    <div class="th-inner ">CPS 销售 （CPS明细报表）</div>
                                    <div class="fht-cell"></div>
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align: center;" data-field="name" tabindex="0">
                                    <div class="th-inner sortable both">Item Name</div>
                                    <div class="fht-cell" style="width: 233px;"></div>
                                </th>
                                <th style="text-align: center;" data-field="price" tabindex="0">
                                    <div class="th-inner sortable both">Item Price</div>
                                    <div class="fht-cell" style="width: 227px;"></div>
                                </th>
                                <th style="text-align: center;" data-field="operate" tabindex="0">
                                    <div class="th-inner ">Item Operate</div>
                                    <div class="fht-cell" style="width: 224px;"></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="fixed-table-body">
                    <div class="fixed-table-loading" style="top: 82px; display: none;">Loading, please wait...</div>
                    <table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-show-export="true" data-detail-view="true" data-detail-formatter="detailFormatter" data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]" data-show-footer="false" data-side-pagination="server" data-url="/examples/bootstrap_table/data" data-response-handler="responseHandler" class="table table-hover" style="margin-top: -81px;">
                        <thead>
                            <tr>
                                <th class="detail" rowspan="2">
                                    <div class="fht-cell"></div>
                                </th>
                                <th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px;" rowspan="2" data-field="state" tabindex="0">
                                    <div class="th-inner ">
                                        <input name="btSelectAll" type="checkbox">
                                    </div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; vertical-align: middle;" rowspan="2" data-field="id" tabindex="0">
                                    <div class="th-inner sortable both">Item ID</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center;" colspan="3" tabindex="0">
                                    <div class="th-inner ">Item Detail</div>
                                    <div class="fht-cell"></div>
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align: center;" data-field="name" tabindex="0">
                                    <div class="th-inner sortable both">Item Name</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center;" data-field="price" tabindex="0">
                                    <div class="th-inner sortable both">Item Price</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center;" data-field="operate" tabindex="0">
                                    <div class="th-inner ">Item Operate</div>
                                    <div class="fht-cell"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody><tr data-index="0"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="0" name="btSelectItem" type="checkbox" value="0"></td><td style="text-align: center; vertical-align: middle;">0</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="0" data-value="Item 0" class="editable editable-click">Item 0</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="0" data-value="$0" class="editable editable-click">$0</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="1"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="1" name="btSelectItem" type="checkbox" value="1"></td><td style="text-align: center; vertical-align: middle;">1</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="1" data-value="Item 1" class="editable editable-click">Item 1</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="1" data-value="$1" class="editable editable-click">$1</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="2"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="2" name="btSelectItem" type="checkbox" value="2"></td><td style="text-align: center; vertical-align: middle;">2</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="2" data-value="Item 2" class="editable editable-click">Item 2</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="2" data-value="$2" class="editable editable-click">$2</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="3"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="3" name="btSelectItem" type="checkbox" value="3"></td><td style="text-align: center; vertical-align: middle;">3</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="3" data-value="Item 3" class="editable editable-click">Item 3</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="3" data-value="$3" class="editable editable-click">$3</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="4"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="4" name="btSelectItem" type="checkbox" value="4"></td><td style="text-align: center; vertical-align: middle;">4</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="4" data-value="Item 4" class="editable editable-click">Item 4</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="4" data-value="$4" class="editable editable-click">$4</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="5"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="5" name="btSelectItem" type="checkbox" value="5"></td><td style="text-align: center; vertical-align: middle;">5</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="5" data-value="Item 5" class="editable editable-click">Item 5</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="5" data-value="$5" class="editable editable-click">$5</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="6"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="6" name="btSelectItem" type="checkbox" value="6"></td><td style="text-align: center; vertical-align: middle;">6</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="6" data-value="Item 6" class="editable editable-click">Item 6</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="6" data-value="$6" class="editable editable-click">$6</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="7"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="7" name="btSelectItem" type="checkbox" value="7"></td><td style="text-align: center; vertical-align: middle;">7</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="7" data-value="Item 7" class="editable editable-click">Item 7</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="7" data-value="$7" class="editable editable-click">$7</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="8"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="8" name="btSelectItem" type="checkbox" value="8"></td><td style="text-align: center; vertical-align: middle;">8</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="8" data-value="Item 8" class="editable editable-click">Item 8</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="8" data-value="$8" class="editable editable-click">$8</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr><tr data-index="9"><td><a class="detail-icon" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a></td><td class="bs-checkbox"><input data-index="9" name="btSelectItem" type="checkbox" value="9"></td><td style="text-align: center; vertical-align: middle;">9</td><td style="text-align: center;"><a href="javascript:void(0)" data-name="name" data-pk="9" data-value="Item 9" class="editable editable-click">Item 9</a></td><td style="text-align: center;"><a href="javascript:void(0)" data-name="price" data-pk="9" data-value="$9" class="editable editable-click">$9</a></td><td style="text-align: center;"><a class="like" href="javascript:void(0)" title="Like"><i class="glyphicon glyphicon-heart"></i></a> <a class="remove" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td></tr></tbody>
                    </table>
                </div>
                <div class="fixed-table-footer" style="display: none;">
                    <table><tbody><tr></tr></tbody></table>
                </div>
                <div class="fixed-table-pagination" style="display: block;">
                    <div class="pull-left pagination-detail"><span class="pagination-info">Showing 1 to 10 of 800 rows</span><span class="page-list"><span class="btn-group dropup"><button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown"><span class="page-size">10</span> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="active"><a href="javascript:void(0)">10</a></li><li><a href="javascript:void(0)">25</a></li><li><a href="javascript:void(0)">50</a></li><li><a href="javascript:void(0)">100</a></li><li><a href="javascript:void(0)">All</a></li></ul></span> records per page</span></div>
                    <div class="pull-right pagination">
                        <ul class="pagination"><li class="page-pre"><a href="javascript:void(0)">‹</a></li><li class="page-number active"><a href="javascript:void(0)">1</a></li><li class="page-number"><a href="javascript:void(0)">2</a></li><li class="page-number"><a href="javascript:void(0)">3</a></li><li class="page-number"><a href="javascript:void(0)">4</a></li><li class="page-number"><a href="javascript:void(0)">5</a></li><li class="page-last-separator disabled"><a href="javascript:void(0)">...</a></li><li class="page-last"><a href="javascript:void(0)">80</a></li><li class="page-next"><a href="javascript:void(0)">›</a></li></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
    var $table = $('#table'),
        $remove = $('#remove'),
        selections = [];

    function initTable() {
        $table.bootstrapTable({
            height: getHeight(),
            columns: [
                [
                    {
                        field: 'state',
                        checkbox: true,
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: 'Item ID',
                        field: 'id',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        footerFormatter: totalTextFormatter
                    }, {
                        title: 'Item Detail',
                        colspan: 3,
                        align: 'center'
                    }
                ],
                [
                    {
                        field: 'name',
                        title: 'Item Name',
                        sortable: true,
                        editable: true,
                        footerFormatter: totalNameFormatter,
                        align: 'center'
                    }, {
                        field: 'price',
                        title: 'Item Price',
                        sortable: true,
                        align: 'center',
                        editable: {
                            type: 'text',
                            title: 'Item Price',
                            validate: function (value) {
                                value = $.trim(value);
                                if (!value) {
                                    return 'This field is required';
                                }
                                if (!/^$/.test(value)) {
                                    return 'This field needs to start width $.'
                                }
                                var data = $table.bootstrapTable('getData'),
                                    index = $(this).parents('tr').data('index');
                                console.log(data[index]);
                                return '';
                            }
                        },
                        footerFormatter: totalPriceFormatter
                    }, {
                        field: 'operate',
                        title: 'Item Operate',
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }
                ]
            ]
        });
        // sometimes footer render error.
        setTimeout(function () {
            $table.bootstrapTable('resetView');
        }, 200);
        $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

                    // save your data, here just save the current page
                    selections = getIdSelections();
                    // push or splice the selections if you want to save all data selections
                });
        $table.on('expand-row.bs.table', function (e, index, row, $detail) {
            if (index % 2 == 1) {
                $detail.html('Loading from ajax request...');
                $.get('LICENSE', function (res) {
                    $detail.html(res.replace(/\n/g, '<br>'));
                });
            }
        });
        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args);
        });
        $remove.click(function () {
            var ids = getIdSelections();
            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });
            $remove.prop('disabled', true);
        });
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    }

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Like">',
            '<i class="glyphicon glyphicon-heart"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row));
        },
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            });
        }
    };

    function totalTextFormatter(data) {
        return 'Total';
    }

    function totalNameFormatter(data) {
        return data.length;
    }

    function totalPriceFormatter(data) {
        var total = 0;
        $.each(data, function (i, row) {
            total += +(row.price.substring(1));
        });
        return '$' + total;
    }

    function getHeight() {
        return $(window).height() - $('h1').outerHeight(true);
    }

    $(function () {
        var scripts = [
                location.search.substring(1) || 'Scripts/bootstrap-table.js',
                'Scripts/extensions/export/bootstrap-table-export.js',
                'http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js',
                'Scripts/extensions/editable/bootstrap-table-editable.js',
                'http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js'
        ],
            eachSeries = function (arr, iterator, callback) {
                callback = callback || function () { };
                if (!arr.length) {
                    return callback();
                }
                var completed = 0;
                var iterate = function () {
                    iterator(arr[completed], function (err) {
                        if (err) {
                            callback(err);
                            callback = function () { };
                        }
                        else {
                            completed += 1;
                            if (completed >= arr.length) {
                                callback(null);
                            }
                            else {
                                iterate();
                            }
                        }
                    });
                };
                iterate();
            };

        eachSeries(scripts, getScript, initTable);
    });

    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;

        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function () {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();

                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };

        head.appendChild(script);

        // We handle everything using the script element injection
        return undefined;
    }
    </script>
</div>