@using QuickBootstrap.Entities
@using QuickBootstrap.Extendsions
@using QuickBootstrap.Models

@{
    ViewBag.Title = "平台概况";
}

<div class="row">
    <div class="col-md-12 ">

        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">平台概况</li>
        </ol>

        <div class="jumbotron">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h1> 广告业绩管理平台</h1>
            <span class="glyphicon glyphicon-list">  提供简单简约的绩效管理，用户管理服务</span>
        </div>

        <div class="alert alert-info" role="alert">Hands up! This info needs your attention, but it's not super important</div>

        <div class="container">
            
            <form class="form-horizontal">
                @*@Html.ToHtmlInputItem(new User { UserName = "hiAladdin@163.com", CreateTime = DateTime.Now, Nick = "admin", IsEnable = true })*@
                @Html.ToHtmlInputItem(new WebSiteConfig
                {
                    LinktechAccountId = "xiaoqi3535",
                    LinktechAccountPwd = "zhh451815147",
                    LinktechReceiveApiUrl = Request.Url.Scheme + "://" + Request.Url.Host + "/" + "api/data/sales",
                    Database = "QuickBootstrap"
                })
            </form>
        </div>

        </div>
    </div>