@using QuickBootstrap.Entities
@using QuickBootstrap.Extendsions
@{
    ViewBag.Title = "平台概况";
}
<div class="content">
    <div class="container">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>业务报表</legend>
                <div class="form-group">
                    <a class="col-sm-1 btn btn-default" id="today" role="button">今天</a>
                    <a class="col-sm-1 btn btn-default" id="yesterday" role="button">昨天</a>
                    <a class="col-sm-1 btn btn-default" id="month" role="button">本月</a>
                    <a class="col-sm-1 btn btn-default" id="pmonth" role="button">上月</a>

                    <div class="input-group date form_date col-md-3" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input name='STime' class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="input-group date form_date col-md-3" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input name='ETime' class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="col-sm-2 "></div>
                </div>

                <div class="form-group">

                    <label class="col-sm-1 control-label" for="ds_host">广告主：</label>
                    <div class="col-sm-3">
                        <input name='M_id' class="form-control" id="ds_host" type="text" placeholder="" />
                    </div>

                    <div class="col-sm-2">
                        <select name='QueryType' id="disabledSelect" class="form-control">
                            <option value='O_cd'>订单编号</option>
                            <option value='P_cd'>商品编号</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input name="TypeValue" class="form-control" type="text" placeholder="" />
                    </div>

                    @*<div class="col-sm-2">
                    </div>*@

                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">查询</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="form-group">
            <select id='toolbar'  class="form-control">
                <option value=''>全部状态</option>
                <option value='200'>有效</option>
                <option value='300'>无效</option>
                <option value='100'>未确认</option>
                <option value='210'>初步核对有效</option>
                <option value='310'>已取消</option>
            </select>
        </div>

        <div class="bootstrap-table">
            <table id="table"
                   data-toolbar='#toolbar'
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-show-toggle="true"
                   data-side-pagination="server"
                   data-pagination="true"
                   data-page-list="[10, 25, 50, 100]"></table>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">

    $(function() {
        $("#today").on("click", { foo: new Date().format("yyyyMMdd") }, handler);
        $("#yesterday").on("click", { foo: new Date().addDate(-1) }, handler);
        $("#month").on("click", { foo: new Date().getFullYear() + new Date().getFullYear().getMonth }, handler);
        $("#pmonth").on("click", { foo: new Date().addDate(-1) }, handler);

        $("form").on("submit", { query: UIHandler }, handler);
        $('#toolbar').on('change', { query: UIHHH }, handler);
    });

    // 通用 refresh
    function handler(event) {
        $('#table').bootstrapTable('refresh', {
            silent: true,
            url: 'api/data/SalesData',
            query: event.data.query()               // query  是js对象
        });
        return false;
    };

    function UIHandler() {
        var data = {};
        $("form").serializeArray().map(function (x) { data[x.name] = x.value; });
        return data;
    }


    function UIHHH() {
        var data = {};
        data.Stat_code = $("#toolbar  option:selected").val();
        return data;
    }
    $('.form_date').datetimepicker({
        format: 'yyyymmdd',
        language: 'zh-CN',
        autoclose: true,
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    $(document).ready(function () {
        $('#table').bootstrapTable({
            locale: 'zh-CN',
            cahce: false,
            method: 'get',                          // 远程获取数据的方式
            url: "/api/data/SalesData",
            height: $(window).height() - 20,         // 表格的高度
            striped: true,                          // 条纹状
            dataType: "json",                       // 你希望服务端返回你的数据类型
            pagination: true,                       // 是否显示分页toolbar
            queryParamsType: 'limit',               // 设置为limit 则是restful 风格查询参数
            singleSelect: false,                    // 单行选择
            //  contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber: 1,
         //   search: true,                              //是否显示 搜索框
            searchAlign: 'right',
         //   showColumns: true,                         //是否显示下拉框（选择显示的列）
         //   sidePagination: "server",                  //定义服务端分页
            //  queryParams: queryParams,
            //minimunCountColumns: 2,
            responseHandler: responseHandler,
            //  searchText:'',
            //  multipleSearch: false,
           // toolbar: '.form_date',
           //  showFilter: true,

           //  filterControl: true,
           //  filterShowClear: true,

            columns: [
                { field: 'GenerationTime', title: '时间', formatter: function (value) { return new Date(value).format('yyyy.MM.dd hh:mm:ss') } },
                { field: 'M_id', title: '广告主', filterControl: 'select', width: 100, align: 'left', valign: 'middle', sortable: false },
                { field: 'Affiliate_id', title: '网站编号', width: 100, align: 'center', valign: 'middle', sortable: false },

                { field: 'O_cd', title: '订单号', width: 100, align: 'left', valign: 'middle', sortable: false },
                { field: 'P_cd', title: '商品编号', width: 100, align: 'left', valign: 'middle', sortable: false },
                { field: 'C_cd', title: '分类', width: 100, align: 'left', valign: 'middle', sortable: false },
                { field: 'It_cnt', title: '个数', width: 100, align: 'center', valign: 'middle', sortable: false },
                { field: 'Price', title: '单价', width: 100, align: 'center', valign: 'middle', sortable: false },
                { field: 'Sales', title: '销售额', width: 100, align: 'center', valign: 'middle', sortable: false },

                { field: 'Comm', title: '佣金', width: 100, align: 'center', valign: 'middle', sortable: false },

                { field: 'Stat_code', title: '业绩状态码', visible:false },
                { field: 'Stat_desc', title: '业绩状态', filterControl: 'select', width: 100, align: 'left', valign: 'middle', sortable: false },
                { field: 'U_id', title: 'U_ID', width: 100, align: 'center', valign: 'middle', sortable: false },
                { field: 'Bill_yyyymmdd', title: '结算时间', width: 100, align: 'center', valign: 'middle', sortable: false },
            ]
        });

        var ss = $('#table').bootstrapTable('getOptions');


    });
    function responseHandler(res) {
        if (res.IsOk) {
            // var resultStr = $.parseJSON(res);
            return {
                "rows": res.Result,
                "total": res.Count
            };

        } else {
            return {
                "rows": [],
                "total": 0
            };
        }
    }

    function ConvertEnum(value) {
        
    }

    Date.prototype.format = function (format) {
        var o = {
            "M+": this.getMonth() + 1, //month
            "d+": this.getDate(),    //day
            "h+": this.getHours(),   //hour
            "m+": this.getMinutes(), //minute
            "s+": this.getSeconds(), //second
            "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
            "S": this.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
        (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }

    Date.prototype.addDate = function(days) {
        var d = this;
        d.setDate(d.getDate() + days);
        var month = d.getMonth() + 1;
        var day = d.getDate();
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }
        var val = d.getFullYear() + "" + month + "" + day;
        return val;
    }

    //传递的参数，已经是limit，params 是特地的5个【limit, offset, search, sort, order】属性组成的查询对象，你可以对查询对象进行属性操作，也可以不使用params对象，自己决定查询参数
    function queryParams(params) {
        //return {
        //    pageSize: params.limit,
        //    pageNumber: params.pageNumber,
        //};
        params.pageSize = params.limit;
        params.search = params.search;
        return params;
    }

</script>
