@{
    ViewBag.Title = "地图";
}

<style type="text/css">
    .overlay {
        font-size: 18px;
        color: purple
    }
</style>



@section scripts{
    @Scripts.Render("http://api.map.baidu.com/api?v=2.0&ak=SSC5M3AFkxWqbgXLDpItGi8g")
    <script src="@Url.Content("~/scripts/draggableMarker.js")" type="text/javascript"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    @Scripts.Render("http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer.js")
    <script src="/scripts/jsmap.js" type="text/javascript"></script>
}

<div class="row">
    <div class="col-md-12" role="main">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active"><a href="/UserManage">地图热点</a></li>
        </ol>
        <div class="bs-docs-example" id='map' >
        </div>
    </div>
</div>


@section import{
    <script src="/scripts/common.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        var data = [
            {
                'text': 'Simple root node',
                'type': 'group', // 自定义类型type
                'children': [
                    { 'text': 'Child 0', 'li_attr': { lng: '104.0608', lat: '30.6711' } },
                    'Child 01',
                ]
            },
            {
                'text': 'Root node 2',
                'type': 'group',
                'children': [
                    { 'text': 'Child 11' },
                    'Child 2',
                    {
                        'text': 'Root node 3',
                        'type': 'group',
                        'children': [
                            { 'text': 'Child 4', 'state': { 'selected': false } },
                            'Child 04'
                        ]
                    }
                ]
            }
        ];


        // 配置tree控件
        var conf = {
            title: '设备列表',
            location: {
                defaultAnchor: BMAP_ANCHOR_TOP_RIGHT,
                defaultOffset: new BMap.Size(20, 20)
            },
            treeId: 'using_json',
            treebody: {
                core: {
                    data: data

                }
            }
        }

        // TODO javascript怎么做插件热启动
        // 配置地图，加载默认的statusControl，treeControl
        var options = {
            controls: { status:{}, tree:conf },
            overlay: {
                style: 'glyphicon glyphicon-facetime-video overlay'
            }
        }
        var jsmap = $.jsmap.create("map", options);


    </script>
}

